<section>
  <div>
    <table style="table-layout: fixed; margin:auto; width:100%">
      <tr><center>
        <p>如果您觉得该文章对您有用，欢迎打赏作者，激励创作!<br>
        Welcome to tip the author!</p>
      </center></tr>
     <tr><center>
       <td class="tip_td_class">
         微信（WeChat Pay）
       </td>
       <td class="tip_td_class">
         支付宝（AliPay）
       </td>
     </center></tr>
      <tr><center>
        <td class="tip_td_class">
          <img src="../../../../assets/images/WechatPay.png" width="50%">
        </td>
        <td class="tip_td_class">
          <img src="../../../../assets/images/AliPay.png" width="50%">
        </td>
      </center></tr>
      </table>
  </div>
</section>
